.contact_main_div {
  min-height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 36px 0;
  font-family: Arial, Helvetica, sans-serif;

  .contact_div_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #1e1e1e;
    text-align: center;
  }
  .contact_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 85%;
    border-radius: 24px;
    padding: 40px;
    margin: 0 auto;
    max-width: 550px;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.65);
    .contact_form_input_div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .contact_form_input_span {
        margin: 8px;
      }
      .contact_form_input_div_border {
        display: flex;
        gap: 8px;
        border-bottom: 1px #1e1e1e solid;
        .contact_form_input_and_icon_div {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 8px 28px;
          width: 100%;
          height: 60px;

          .react-international-phone-input-container
            > .react-international-phone-input {
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            font-size: 16px;
          }
          .react-international-phone-input-container
            > .react-international-phone-country-selector
            > .react-international-phone-country-selector-button {
            background-color: rgba(0, 0, 0, 0);
            padding-right: 8px;
            border-right: 1px #1e1e1e solid;
          }
          .contact_form_input_icon {
            padding-right: 12px;
            border-right: 1px #1e1e1e solid;
            height: 24px;
          }
          .contact_input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: rgba($color: #fff, $alpha: 0);
          }
        }
      }
    }
    .contact_div_general_2 {
      display: flex;
      gap: 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .contact_paragraph {
        padding: 10px 0;
        color: #1e1e1e;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 21.85px;
        text-align: center;
      }
      .contact_input_flex {
        display: flex;
        align-items: center;
      }
      #contact_input {
        display: flex;
        justify-content: center;
        gap: 24px;
        color: #1e1e1e;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 28.75px;
        text-align: center;
        padding: 4px 20px;
        .contact_radio_label {
          padding: 8px;
        }
      }
      .contact_button {
        padding: 12px 24px;
        max-width: 900px;
        width: 100%;
        border-radius: 0;
        border: 1px #000000 solid;
        background-color: #1e1e1e;
        color: #fffdfd;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .contact_main_div {
    .contact_div_title {
      padding: 22px 8px;
      font-size: 19px;
    }
    .contact_form {
      width: 90%;
      padding: 24px 24px;
      border-radius: 12px;
      .contact_div_general_2 {
        .contact_paragraph {
          font-size: 15px;
        }
        #contact_input {
          .contact_radio_label {
            font-size: 18px;
          }
        }
      }
    }
  }

  input[type="radio"] {
    width: 17px;
    height: 17px;
  }
}
